[submodule "submodules/asio"]
	path = submodules/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "submodules/eagine-core"]
	path = submodules/eagine-core
	url = ssh://oglplus-playground/home/oglplus/Repo/eagine-core.git
	branch = develop
[submodule "submodules/eagine-ssl"]
	path = submodules/eagine-ssl
	url = ssh://oglplus-playground/home/oglplus/Repo/eagine-ssl.git
	branch = develop
