[Unit]
Description=EAGine message bus Sudoku helper node
ConditionPathExists=%h/.config/eagine/systemd/environment

[Service]
KeyringMode=private
NoNewPrivileges=true
PrivateDevices=false
PrivateNetwork=false
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=read-only
ProtectKernelTunables=true
ProtectSystem=full
RemoveIPC=true
UMask=077
EnvironmentFile=%h/.config/eagine/systemd/environment
Type=simple
WorkingDirectory=%h
ExecStart=%h/.config/eagine/execute eagine-msgbus-sudoku_helper $EAGINE_SERVICE_ARGS
Restart=always
RestartSec=5
WatchdogSec=15
NotifyAccess=main

[Install]
WantedBy=default.target
