[Unit]
Description=EAGine message bus pingable node (%i)
ConditionPathExists=/var/lib/eagine/.config/eagine/systemd/environment

[Service]
KeyringMode=private
NoNewPrivileges=true
PrivateDevices=false
PrivateNetwork=false
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=read-only
ProtectKernelTunables=true
ProtectSystem=full
RemoveIPC=true
UMask=077
EnvironmentFile=/var/lib/eagine/.config/eagine/systemd/environment
Type=simple
User=eagine
Group=eagine
WorkingDirectory=/var/lib/eagine
ExecStart=/usr/bin/eagine-msgbus-pingable --instance %i $EAGINE_SERVICE_ARGS
Restart=always
RestartSec=5
WatchdogSec=15
NotifyAccess=main

[Install]
WantedBy=default.target
